{% extends 'layouts/base.html' %}

{% block title %}Excluir Lote - ERP{% endblock %}

{% block conteudo %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Exclusão de Lote</h5>
            <p class="card-text">
                Você tem certeza que quer excluir o lote 
                <b>{{ object.numero_lote }} ({{ object.variacao.produto.nome }} - {{ object.variacao.tamanho }})</b>?
            </p>
            <form method="post">
                {% csrf_token %}
                <hr />
                <div class="text-right">
                    <a href="{% url 'movimentacao:lote_list' %}" class="btn btn-outline-danger">Cancelar</a>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}