{% extends 'layouts/base.html' %}

{% block title %}Excluir Movimentação - ERP{% endblock %}

{% block conteudo %}
<div class="content">
    <div class="page-header">
        <h1>Exclusão de Movimentação</h1>
        <a href="{% url 'movimentacao:movimentacao_list' %}" class="btn btn-secondary">Voltar</a>
    </div>

    <div class="detail-card">
        <h2>Confirmação</h2>
        <div class="detail-content">
            <p>Você tem certeza que quer excluir a movimentação <strong>{{ object.variacao.produto.nome }} - {{ object.tipo.nome }} ({{ object.quantidade }})</strong>?</p>
            <form method="post" class="form-actions">
                {% csrf_token %}
                <a href="{% url 'movimentacao:movimentacao_list' %}" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-danger">Excluir</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
